<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>StoreX</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    @System.Web.Optimization.Styles.Render("~/bundles/bootstrap/css")
    <!-- Slick -->
    @System.Web.Optimization.Styles.Render("~/bundles/slick/css")
    @System.Web.Optimization.Styles.Render("~/bundles/slick-theme/css")
    <!-- nouislider -->
    @System.Web.Optimization.Styles.Render("~/bundles/nouislider/css")
    <!-- Font Awesome Icon -->
    @System.Web.Optimization.Styles.Render("~/bundles/font-awesome/css")
    <!-- Custom stlylesheet -->
    @System.Web.Optimization.Styles.Render("~/bundles/style/css")
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

</head>
<body>
    <!-- HEADER -->
    <header>
        @Html.Partial("_Header")
    </header>
    <!-- /HEADER -->
        @RenderBody()
    <!-- FOOTER -->
    <footer id="footer">
        @Html.Partial("_Footer")
    </footer>
    <!-- /FOOTER -->

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/slick/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/nouislider/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery/zoom/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/main/js")

    @RenderSection("Scripts", required: false)

</body>
</html>
